page-cart {

    .fonth{
       font-size: 12px;
       color: #8B0000;
      font-weight: bold;
   }
    .neg{
        font-weight: bold;
        font-size: 14px;
    }
    .fin{
        font-size: 12px;
    }
}
